# dependencies
/node_modules

# astro build output + generated types
dist
.astro

# env files
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# typescript
*.tsbuildinfo

# os
.DS_Store
